/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
html, body {  }

body {
  border-top: 1px solid red;
  background-color: #f2f2f2;
  font: 16px Arial, sans-serif;
  text-align: center;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
   }

h1 {  line-height: 1.2em; }
p {  }

a{
  color: #f00;
  transition:color .3s ease-out;
  transition:background-color .8s ease-out;
  padding: 2px;
}
a:hover {
  color: #3f0;
  background: #444;
}
li{ list-style-position:inside; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  width: 750px;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
  padding: 2px;
}

.site .header img {
  float: left;
}

a.logoLink:hover{
  background: transparent;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 1em;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}


.site .header ul{
  list-style: none;
  display: inline-block;
}

.site .header li{
  list-style: none;
  display: inline-block;
}

.site .menu{
  display: inline-block;
  float: right;
}

.site .social{
  display: inline-block;
  float: right;
  clear: right;
}

.site .social a{
  height: 48px;
  width: 48px;
  background: url('../img/pygmeeweb-social-sprite-48x480.png') no-repeat 0px 0px;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: inline-block;
  transition: background 0.3s ease-in-out;
  margin-right: 8px;
  border-radius: 3px;
  padding: 0;
}

.site .social a:hover{
  background-image: url('../img/pygmeeweb-social-sprite-48x480-green.png');
}

.site .social a.github{ background-position:  0px 0px; }
.site .social a.stackoverflow{ background-position: 0px -48px; }
.site .social a.twitter{ background-position: 0px -96px; }

.site .intro{
  clear: both;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  color: #666;
  border-top: 1px solid #f00;
  margin-top: 2em;
  overflow: hidden;
  text-align: center;
}

.site .footer a {
  padding: 2px;
}



/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  overflow: auto;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post a{
  padding: 2px;
}


.warning{
  background: MistyRose;
  padding: 5px;
  font-size: 0.8em;
}

.vcard .main{
  margin: 0;
  float: left;
}

.vcard{

}

.vcard .title{
  font-weight: bold;
}

.vcard .adr{
  float: right;
}

.resume blockquote{
  font-family: Georgia, Serif;
  font-style: italic;
  color: #333;
  background: #ddd;
  margin: 10px 0;
  padding: 5px 20px;
  font-size: 1.1em;
}

.resume h1 {
  font-size:150%;
  border-bottom: 1px solid #ddd;
}

.resume h2 {
  font-size:131%;
  font-style: italic;
  white-space: normal;
}

.resume h3 { font-size:123.1%; margin: 10px 0 5px; }

.resume h4 { font-size:100%; margin: 5px 0 0; }
.resume h4+p { margin: 0; }

.resume ul{ padding: 0 0 0 10px; margin-top: 0;}

.resume ul ul{ padding: 0 0 0 1em; }

.resume strong{ margin-top: 5px; }

dl{
  margin: 0;
  padding: 0;
}

dt{
  text-align: right;
  padding: 0 6px 0 0;
  width: 130px;
  float: left;
  margin: 0;
  clear: both;
  white-space: nowrap;
}


dd{
  width: 570px;
  float: right;
  margin: 10px 0 0;
  border-left: 1px solid #aaa;
  padding: 0 0 0 26px;
}

dd h2{
  margin: 0 0;
  font-size: 1.2em;
}


dd p{
  margin: 5px 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}




a.externalLink{
  background: url(../img/external-link-10.png) center right no-repeat;
  padding-right: 13px;
}

a.externalLink:hover{
  background: #000 url(../img/external-link-10-green.png) center right no-repeat;
}

