/* print css for pygmeeweb */
@media print{


    .no-print, .no-print *
    {
        display: none !important;
    }
/*
    body{
        font: 12pt Arial, sans-serif;
        background: transparent;
    }

    .site {
        width: 100%;
        margin: 0 1em;
        line-height: 1.5em;
    }

    .resume blockquote {
        font: 12pt Arial, sans-serif;
        font-style: bold;
        color: #000;
        background: #fff;
        margin: 0;
        padding: 0;
    }

    .resume h2 {
        margin: 0 0 10px;
    }

    .resume h3 {
        margin: 0;
    }

    dt{
        text-align: left;
        float: none;
        margin: 0;
        padding: 0;
    }

    dd{
        width: 100%;
        float: none;
        margin: 0;
        border: none;
        padding: 0 0 0 26px;
    }

    a{color: black; text-decoration: none;}

*/
}