---
layout: default
title: Home
---


<div id="home">
    <div class="intro lead">
        <p>Here you'll find some experimentations and self reminders.</p>
    </div>

    <h1>Last Posts</h1>

    <dl class="clearfix">{% for post in site.posts limit: site.recent_posts %}
        <dt>{% include _myDate.html param=post.date %}</dt>
        <dd class="clearfix">
            <h2><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h2>
            {{ post.excerpt }}
        </dd>
    {% endfor %}</dl>
    <a class="allpost" href="{{ root_url }}/all-posts.html">View all posts</a>
</div>
