<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }} &gt; {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/syntax.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/responsive.css">
  </head>
  <body>
    <div class="container">
      <div class="site">
        <div class="header clearfix">
          <a href="/" class="logoLink">
            <img src="{{ root_url }}/img/logo-pygmeeweb.png" alt="Pygmeeweb logo">
          </a>
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>

          <div class="menu">
            <a href="{{ root_url }}/">home</a><span> | </span>
            <a href="{{ root_url }}/all-posts.html">All&nbsp;posts</a>
          </div>

          <ul class="social">
            <li><a class="github" href="http://github.com/djacquel/" target="_blank">see my code on Github</a></li>
            <li><a class="twitter" href="http://twitter.com/djacquel/" target="_blank">ping me on Twitter</a></li>
            <li><a class="stackoverflow" href="http://stackoverflow.com/users/1548376/david-jacquel" target="_blank">see my  profile on stackoverflow</a></li>
          </ul>

        </div>
            {{ content }}
        <div class="footer">
          <p>
            <a href="/cv-david-jacquel-freelance-senior-web-developer.html">David jacquel - Senior web developer - my resume</a>
          </p>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-157621-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();
    </script>
  </body>
</html>
