<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }} &lt; {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/syntax.css">
      <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="site">
        <div class="header">
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          <a class="extra" href="/">home</a>
        </div>
            {{ content }}
        <div class="footer">
          <div class="contact">
            <p>
              David jacquel<br />
              Senior web developer<br />
              dj-AT-pygmeeweb-DOT-com
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="http://github.com/djacquel/">github</a><br />
              <a href="http://twitter.com/djacquel/">twitter</a><br />
              <a href="http://stackoverflow.com/users/1548376/david-jacquel">stackoverflow</a>
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="/resume/">Resume</a>
            </p>
          </div>
        </div>
        <div class="warning">This site is a work in progress. Things can appear or disappear, sometimes.</div>
      </div>
    </div>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-157621-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();
    </script>
  </body>
</html>
