<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }} &gt; {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/syntax.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/responsive.css">
      <link rel="stylesheet" href="/css/print.css">
  </head>
  <body>
    <div class="container">
      <div class="site">
        <div class="header clearfix no-print">
          <a href="/" class="logoLink">
            <img src="{{ root_url }}/img/logo-pygmeeweb.png" alt="Pygmeeweb logo">
          </a>
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>

          <div class="menu">
            <a href="/">home</a><span> | </span>
            <a href="/all-posts.html">all&nbsp;posts</a>
          </div>

          <ul class="social">
            <li><a class="github" href="http://github.com/djacquel/" target="_blank">see my code on Github</a></li>
            <li><a class="twitter" href="http://twitter.com/djacquel/" target="_blank">ping me on Twitter</a></li>
            <li><a class="stackoverflow" href="http://stackoverflow.com/users/1548376/david-jacquel" target="_blank">see my  profile on stackoverflow</a></li>
          </ul>

        </div>
            {{ content }}
        <div class="footer no-print">
          <p>
              <a href="{{ root_url }}/">home</a><span> | </span>
              <a href="{{ root_url }}/all-posts.html">all&nbsp;posts</a>
          </p>
          <p>
            Copyleft 2013 David Jacquel<br>
            <a href="/cv-david-jacquel-freelance-senior-web-developer.html">see my Senior web developer resume</a>
          </p>
        </div>
      </div>
    </div>
{% include _javascript.html %}
  </body>
</html>
